schema/chymistry.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">Chymistry</title>
            <title>Encoding for Isaac Newton's alchemical manuscripts</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref> after an analysis of 124 files in /etc/xproc-z/newton_chymistry/p5</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <moduleRef key="textcrit" include="app rdg"/>
            <elementSpec ident="app" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="loc" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="rdg" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="att.msExcerpt"/>
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription"
                       include="msDesc msIdentifier institution repository collection altIdentifier msContents msItem summary physDesc objectDesc supportDesc support collation foliation condition handDesc history origin provenance acquisition additional surrogates"/>
            <elementSpec ident="msDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msIdentifier" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="institution" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="repository" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="collection" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="altIdentifier" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msContents" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="defective" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msItem" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="summary" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="physDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="objectDesc" mode="change">
               <attList>
                  <attDef ident="form" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supportDesc" mode="change">
               <attList>
                  <attDef ident="material" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="support" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="collation" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="foliation" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="condition" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="history" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="origin" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="provenance" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="acquisition" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="additional" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surrogates" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
                       include="orgName persName placeName country region settlement"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="country" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="region" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="district"/>
                        <valItem ident="state"/>
                     </valList>
                  </attDef>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settlement" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="norm" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="orig" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
               <attList>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.measurement" type="atts" mode="change">
               <attList>
                  <attDef ident="unitRef" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="commodity" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.styleDef" type="atts" mode="change">
               <attList>
                  <attDef ident="schemeVersion" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <classRef key="att.milestoneUnit"/>
            <moduleRef key="core"
                       include="p foreign hi quote q cit sic corr choice reg orig gap add del unclear name measure date abbr expan ptr ref list item label head note graphic milestone pb lb analytic author respStmt resp title publisher pubPlace bibl biblStruct listBibl l lg textLang"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="foreign" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="defective" mode="delete"/>
                  <attDef ident="notation" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="q" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cit" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="corr" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="choice" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="reg" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="orig" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="del" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="overwritten"/>
                        <valItem ident="strike"/>
                        <valItem ident="stryke"/>
                     </valList>
                  </attDef>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="Transcriber/Encoder"/>
                        <valItem ident="editor"/>
                        <valItem ident="person"/>
                        <valItem ident="reviewer"/>
                        <valItem ident="technical"/>
                        <valItem ident="transcriber"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="measure" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="weight"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="abbr" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="expan" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="annotation"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="bibl"/>
                        <valItem ident="disjunctive"/>
                        <valItem ident="gloss"/>
                        <valItem ident="ordered"/>
                        <valItem ident="pageImages"/>
                        <valItem ident="simple"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="bibl"/>
                        <valItem ident="disjunctive"/>
                        <valItem ident="gloss"/>
                        <valItem ident="ordered"/>
                        <valItem ident="pageImages"/>
                        <valItem ident="simple"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="label" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="title"/>
                     </valList>
                  </attDef>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="annotation"/>
                        <valItem ident="description"/>
                        <valItem ident="editorial"/>
                        <valItem ident="hands"/>
                        <valItem ident="introduction"/>
                        <valItem ident="pageImages"/>
                        <valItem ident="translation"/>
                        <valItem ident="translation_status"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="graphic" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="milestone" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="spanTo" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="spanTo" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="spanTo" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="analytic" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="incipit"/>
                        <valItem ident="main"/>
                        <valItem ident="major"/>
                        <valItem ident="minor"/>
                        <valItem ident="subordinate"/>
                        <valItem ident="supplied"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="incipit"/>
                        <valItem ident="main"/>
                        <valItem ident="major"/>
                        <valItem ident="minor"/>
                        <valItem ident="subordinate"/>
                        <valItem ident="supplied"/>
                     </valList>
                  </attDef>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblStruct" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="l" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lg" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="textLang" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <classRef key="att.tableDecoration"/>
            <moduleRef key="figures" include="table row cell formula figure figDesc"/>
            <elementSpec ident="table" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="row" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="cols" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cell" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="formula" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="figure" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="figDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.tableDecoration" type="atts" mode="change">
               <attList>
                  <attDef ident="rows" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt extent publicationStmt idno availability notesStmt sourceDesc encodingDesc tagsDecl rendition profileDesc handNote langUsage language textClass keywords revisionDesc change"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="extent" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="chadwyck_healey_reel"/>
                        <valItem ident="collection"/>
                        <valItem ident="iiif-manifest"/>
                        <valItem ident="iunp"/>
                        <valItem ident="sotheby_lot"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="chadwyck_healey_reel"/>
                        <valItem ident="collection"/>
                        <valItem ident="iiif-manifest"/>
                        <valItem ident="iunp"/>
                        <valItem ident="sotheby_lot"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="free"/>
                        <valItem ident="restricted"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="notesStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="tagsDecl" mode="change">
               <attList>
                  <attDef ident="partial" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="rendition" mode="change">
               <attList>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="selector" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="scheme" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="css"/>
                        <valItem ident="other"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handNote" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="scope" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="major"/>
                        <valItem ident="minor"/>
                        <valItem ident="sole"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="textClass" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="keywords" mode="change">
               <attList>
                  <attDef ident="scheme" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="change" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <classRef key="att.global.facs"/>
            <moduleRef key="transcr"
                       include="facsimile surface addSpan damage fw handNotes handShift space supplied surplus"/>
            <elementSpec ident="facsimile" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surface" mode="change">
               <attList>
                  <attDef ident="attachment" mode="delete"/>
                  <attDef ident="flipping" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addSpan" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="damage" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="blot_over_letter"/>
                        <valItem ident="blotch"/>
                        <valItem ident="damaged_manuscript"/>
                        <valItem ident="edge_of_page_missing"/>
                        <valItem ident="stain,_tear"/>
                        <valItem ident="torn_page"/>
                     </valList>
                  </attDef>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fw" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="catch"/>
                        <valItem ident="catct"/>
                        <valItem ident="cathc"/>
                        <valItem ident="head"/>
                        <valItem ident="header"/>
                        <valItem ident="pag"/>
                        <valItem ident="page"/>
                        <valItem ident="title"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handNotes" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handShift" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="space" mode="change">
               <attList>
                  <attDef ident="dim" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="horizontal"/>
                        <valItem ident="vertical"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supplied" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surplus" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module linking-->
            <classRef key="att.global.linking"/>
            <moduleRef key="linking" include="ab anchor seg join"/>
            <elementSpec ident="ab" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="postscript"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="anchor" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="seg" mode="change">
               <attList>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="indentedlist"/>
                        <valItem ident="pag"/>
                     </valList>
                  </attDef>
                  <attDef ident="notation" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="join" mode="change">
               <attList>
                  <attDef ident="scope" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="root"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module analysis-->
            <!--Checking module textstructure-->
            <moduleRef key="textstructure"
                       include="TEI text body div trailer dateline argument salute signed back"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="notes"/>
                        <valItem ident="section"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="trailer" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="dateline" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="argument" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="salute" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="signed" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="back" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <moduleRef key="gaiji"
                       include="g char charName charProp charDecl localName mapping value"/>
            <elementSpec ident="g" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="char" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="charName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="charProp" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="charDecl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="localName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="mapping" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="PUA"/>
                        <valItem ident="unicode"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="value" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
